<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyz.makeupMall.mapper.OrderMapper">
	<resultMap id="BaseResultMap"
		type="com.lyz.makeupMall.domain.Order">
		<result column="order_id" jdbcType="INTEGER" property="orderId" />
		<result column="order_userphone" jdbcType="VARCHAR"
			property="orderUserPhone" />
		<result column="order_name" jdbcType="VARCHAR"
			property="orderName" />
		<result column="order_address" jdbcType="VARCHAR"
			property="orderAddress" />
		<result column="order_detail" jdbcType="VARCHAR"
			property="orderDetail" />
		<result column="order_total" jdbcType="FLOAT"
			property="orderTotal" />
		<result column="order_time" jdbcType="DATE"
			property="orderTime" />
		<result column="order_state" jdbcType="VARCHAR"
			property="orderState" />
	</resultMap>

	<!-- 根据手机号查询
		UpdateTime: 2019-03-31 22:30	
	 -->
	<select id="selectOrderByUserPhone" resultMap="BaseResultMap">
		SELECT * FROM ORDER
		WHERE order_userphone = #{orderUserPhone}
		ORDER BY order_time DESC,order_id DESC;
	</select>
	
	<!-- 根据订单状态查询
		UpdateTime: 2019-03-31 22:30	
	 -->
	<select id="selectOrderByState" resultMap="BaseResultMap">
		SELECT * FROM ORDER
		WHERE order_userphone = #{orderUserPhone} AND order_state = #{orderState}
	</select>
	
	<!-- 添加订单
		UpdateTime: 2019-03-31 18:00	
	 -->
	<insert id="insertOrder"
		parameterType="com.lyz.makeupMall.domain.Order">
		INSERT INTO 
		order(order_userphone,order_name,order_address,order_detail,order_total,order_time,order_state)
		VALUES
		(#{orderUserPhone},#{orderName},#{orderAddress},#{orderDetail},#{orderTotal},#{orderTime},#{orderState});
		<selectKey keyProperty="orderId" order="AFTER"
			resultType="java.lang.Integer">
			select LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 删除订单
		UpdateTime: 2019-03-31 18:00	
	 -->
	<delete id="deleteOrder"
		parameterType="com.lyz.makeupMall.domain.Order">
		DELETE FROM ORDER WHERE order_id = #{orderId};
	</delete>
</mapper>