<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyz.makeupMall.mapper.PhoneCodeMapper">
	<resultMap id="BaseResultMap"
		type="com.lyz.makeupMall.domain.PhoneCode">
		<result column="phonecode_id" jdbcType="INTEGER" property="phoneCodeId" />
		<result column="phonecode_phone" jdbcType="VARCHAR" property="phoneCodePhone" />
		<result column="phonecode_code" jdbcType="INTEGER" property="phoneCodeCode" />
		<result column="phonecode_time" jdbcType="BIGINT" property="phoneCodeTime" />
	</resultMap>

	<!-- 根据用户手机号查询验证码
		UpdateTime: 2019-03-25 23:30	
	 -->
	<select id="selectPhoneCodeByPhone"
		parameterType="com.lyz.makeupMall.domain.PhoneCode" resultMap="BaseResultMap">
		SELECT
		*
		FROM PHONECODE WHERE
		phonecode_phone = #{phoneCodePhone};
	</select>

	<!-- 插入
		UpdateTime: 2019-03-25 23:30	
	 -->
	<insert id="insertPhoneCode"
		parameterType="com.lyz.makeupMall.domain.PhoneCode">
		insert into phonecode(phonecode_phone,phonecode_code,phonecode_time)
		values(#{phoneCodePhone},#{phoneCodeCode},#{phoneCodeTime});
		<selectKey keyProperty="phoneCodeId" order="AFTER"
			resultType="java.lang.Integer">
			select LAST_INSERT_ID()
		</selectKey>
	</insert>

</mapper>