<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyz.makeupMall.mapper.ShopCarMapper">
	<resultMap id="BaseResultMap"
		type="com.lyz.makeupMall.domain.ShopCar">
		<!-- WARNING - @mbg.generated -->
		<id column="shopCar_id" jdbcType="INTEGER" property="shopcarId" />
		<result column="product_id" jdbcType="INTEGER"
			property="productId" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="product_num" jdbcType="INTEGER"
			property="productNum" />
	</resultMap>

	<insert id="insertShopCar" parameterType="java.lang.Integer">
		INSERT
		shopcar(product_id,user_id,product_num)
		VALUES(#{productId},#{userId},#{productNum})
	</insert>

	<select id="selectCountFromShopCar" resultType="java.lang.Integer"
		parameterType="java.lang.Integer">
		SELECT COUNT(*) from shopcar WHERE product_id=#{productId} and user_id=#{userId}
	</select>

	<update id="updateShopCar" parameterType="java.lang.Integer">
		UPDATE shopcar
		SET product_num = product_num + #{productNum}
		WHERE
		product_id = #{productId}
		AND user_id = #{userId}
	</update>
	
	<update id="reduceShopCar" parameterType="java.lang.Integer" >
		UPDATE shopcar
		SET product_num = product_num - #{productNum}
		WHERE
		product_id = #{productId}
		AND user_id = #{userId}
	</update>
	
	<update id="addShopCar" parameterType="java.lang.Integer" >
		UPDATE shopcar
		SET product_num = product_num + #{productNum}
		WHERE
		product_id = #{productId}
		AND user_id = #{userId}
	</update>

</mapper>